.home {
	
	.boxes-container {

		.box-container {

			overflow: hidden;


			&:nth-child(1){

				border-right: 3px solid #FFF;
				border-bottom: 3px solid #FFF;

			}

			&:nth-child(2){

				border-right: 3px solid #FFF;
				border-bottom: 3px solid #FFF;

				@media(max-width: $screen-md){
					border-right: 0;
				}

			}

			&:nth-child(3){

				border-bottom: 3px solid #FFF;

				@media(max-width: $screen-md){
					border-right: 3px solid #FFF;
				}

			}

			&:nth-child(4){

				border-right: 3px solid #FFF;

				@media(max-width: $screen-md){
					border-right: 0;
					border-bottom: 3px solid #FFF;
				}

			}

			&:nth-child(5){

				border-right: 3px solid #FFF;

				@media(max-width: $screen-md){
					border-bottom: 0;
				}

			}

			


			* {
				transition: all 1s ease !important;
			}

			.box {
				display: block;
				margin: 0 -15px;
				position: relative;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				overflow: hidden;
				height: 100%;
				height: 335px;
				padding: 120px 0;

				// @media(max-width: $screen-sm){
				// 	padding: 35% 0;
				// 	height: auto;
				// }

				&:hover {
					text-decoration: none;
				}

				&:active {
					text-decoration: none;
				}

				&:focus {
					text-decoration: none;
				}



				@media(min-width: $screen-md){
					&:hover {
						text-decoration: none;
						padding: 0;
						transform: scale(1.1);

						span.valign-middle {
							// font-size: 20px;
							padding: 120px 25px 120px 25px;
						}
						
					}
				}


					

				span.valign-middle {
					display: block;
					background: rgba(255, 255, 255, 0.7);
					// padding: 35px 25px 35px 25px;
					text-align: center;
					color: #434343;
					font-size: 18px;
					font-weight: bold;
					line-height: 90px;

					@media(max-width: $screen-sm) {
						font-size: 15px;
						// min-height: 85px;
						// padding: 20px 25px 20px 25px;
					}

						
					span {
						// background: red;
						display: inline-block;
		    			vertical-align: middle;
		    			padding: 0 10px;
		    			line-height: 1em; /*set line height back to normal*/
					}


				}
			}

		}

	}

}

	

