@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

* {
	border-radius: 0 !important;
	transition: all 0.4s ease !important;
}

html, body {
	background: #acacac;
	font-family: 'Cinzel', serif;
}

#sb-site {
	background: #acacac;	
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}


header {
	background: #364b68;
	border-bottom: 2px solid #a4926d;
	font-family: 'Cinzel', serif;
	color: #FFF;
	overflow: hidden;
	padding: 10px 0;
	position: fixed;
    width: 100%;
    z-index: 2;

    @media(max-width: $screen-md){
		position: relative;
    }

  //   @media(max-width: $screen-sm - 1px){
		// position: fixed;
  //   }


	.large-menu {

		@media(max-width: $screen-sm - 1px){
			display: none;
		}

		.logo {
			float: left;
			padding: 10px;
			display: block;

			@media(max-width: $screen-md){
				float: none;
				text-align: center;
			}

			img {
				width: 100%;
				max-width: 160px;
			}
		}

		.main-menu {
			float: right;

			@media(max-width: $screen-md){
				float: none;
				text-align: center;
			}

			ul {
				
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
				margin-top: 25px;

				@media(max-width: $screen-md){
					padding-left: 0;
				}

				li {

					display: inline-block;
					padding: 15px 25px;
					position: relative;

					&:after {
						content: '';
						background-image: url(../images/diamond.png);
						background-repeat: no-repeat;
						background-size: 100%;
						font-family: 'Cinzel', serif;
						display: block;
						position: absolute;
						top: 16px;
						right: -6px;
						height: 17px;
						width: 10px;
						overflow: hidden;
					}

					&:last-of-type:after, &:nth-last-child(2):after {
						display: none;
					}


					&:last-of-type {

						a {

							// background: #a4926d;
							// color: #a4926d;
							
							background: #FFF;
							color: #364b68;

							font-weight: bold;

							display: inline-block;
							border-radius: 5px !important;
							padding: 5px 10px;

							&:hover {
								background: darken(#FFF, 5%);
								color: #364b68;
							}

						}
					}

					a {
						color: #FFF;

						&:hover {
							text-decoration: none;
							color: #a4926d;
						}
					}

					ul.sub-menu { display: none; }
				}
			}
		}
	}


	.mobile-menu {


		overflow: hidden;
		display: none;

		@media(max-width: $screen-sm - 1px){
			display: block;
		}

		.toggle-menu {

			float: left;

			.toggle-mobile-menu {

				padding: 10px;
				cursor: pointer;

				span {
					display: inline-block;
					padding: 3px;
					border-radius: 50% !important;
					background: #FFF;
					margin:  0 1px;


				}

			}
		}

		.mobile-logo {
			margin: 0 auto;
			display: block;
			max-width: 38px;
			width: 100%;

			a {

				display: inline-block;

				img {
					width: 100%;
				}
			}

				

		}

		.mobile-header-icons {
			position: absolute;
		    top: 17px;
		    right: 28px;

		    a {
		    	color: #FFF;
		    	display: inline-block;

		    	&:hover {
		    		color: #a4926d;
		    	}

		    	&:first-of-type {
		    		margin-right: 18px;
		    		margin-top: -4px;
		    	}
		    }

		}

	}	
}


.torso {
	margin-top: 130px;

	@media(max-width: $screen-md){
		margin-top: 0;
	}

	.jumbotron {
		background-image: url(../images/hero4.jpg);
		margin-bottom: 0;
	    min-height: 600px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    position: relative;

	    h1 {
	    	// color: #A4926D;
	    	color: #364b68;
	    	margin-top: 4%;
	    	font-size: 52px;
	    	// text-shadow: 2px 2px #111;
	    }

	    @media(max-width: $screen-lg){

	    }

	    @media(max-width: $screen-md){
	    	min-height: 500px;

	    	h1 {
	    		font-size: 42px;
	    	}
	    }

	     @media(max-width: $screen-sm){
	    	min-height: 350px;

	    	h1 {
	    		font-size: 30px;
	    	}
	    }
	}

	section {
		
		padding: 50px 0;
		background: #364b68;
		color: #FFF;
		font-size: 16px;

		.btn-default {
			border-radius: 5px !important;
			background: transparent;
			color: #FFF;
			margin-top: 15px;

			&:hover {
				color: #FFF;
				background: transparent;
			}
		}

	}
}


section.home-about-faq-contact {

	@media(max-width: $screen-sm) {
		padding-top: 30px;
	}

	.bar-splitter {
		margin: 0 auto 45px auto;

		@media(max-width: $screen-sm) {
			margin: 0 auto;
			width: 70%;
		}
	}

	.part {

		padding: 0 15px;
		font-size: 14px;
		line-height: 1.7em;

		h2 {
			margin-bottom: 20px;
			margin-top: 0;

			@media(max-width: $screen-sm) {
				margin-top: 40px;
			}
		}

		p.email {
			word-break: break-all;
		}
	}
}




footer {

	color: #FFF;

	@media(max-width: $screen-sm){
		text-align: center;
	}

	.top-footer {
		background: #d4d2ce;
		padding: 30px 0 30px 0;

		img {
			width: 100%;
			max-width: 220px;

			@media(max-width: $screen-sm){
				max-width: 170px;
			}
		}
	}

	.bottom-footer {
		background: #acacac;
		padding: 30px 0 30px 0;

		.bottom-footer-row {
			padding: 7px 15px;
			position: relative;

			@media(max-width: $screen-sm){

				padding: 20px 15px;

				&:after {
					content: "";
					position: absolute;
					height: 2px;
					width: 50%;
					background: #FFF;
					bottom: 0;
					left: 25%;
				}

				&.address:after {
					display: none;
				}


			}

			&.footer-menu {

				ul {
				
					margin-bottom: 0;
					list-style: none;
					padding-left: 0;

					li {

						display: inline-block;
						padding: 15px 25px 0 25px;
						position: relative;

						&:after {
							content: '';
							background-image: url(../images/diamond.png);
							background-repeat: no-repeat;
							background-size: 100%;
							font-family: 'Cinzel', serif;
							display: block;
							position: absolute;
							top: 16px;
							right: -6px;
							height: 17px;
							width: 10px;
							overflow: hidden;
						}

					


						&:first-of-type {
							padding-left: 0;
						}

						&:last-of-type:after {
							display: none;
						}

						a {
							color: #FFF;

							&:hover {
								text-decoration: none;
								color: #282319;
							}
						}


						@media(max-width: $screen-sm){

							display: block;
							font-weight: bold;

							&:after {
								display: none;
							}

							&:first-of-type {
								padding-left: 15px;
							}
						}
					}
				}

				@media(max-width: $screen-sm){
					padding-top: 0;
				}

			}
			
		
			&.contact {
				span {
					display: inline-block;
					padding: 0 20px;

					&:first-of-type {
						padding-left: 0;
					}

					@media(max-width: $screen-sm){
						display: block;
						padding: 3px 0;
					}
				}
			}
		}
	}

}


.sb-slidebar {
	background: #2A3D57;



	.sidebar-logo {

		display: inline-block;
		margin-top: 25px;

		img {
			max-width: 65px;
			width: 100%;
		}
			
	}


	.sidebar-menu {

		ul  {

			list-style: none;
			text-align: left;
			margin: 50px 0 0 0;
			padding: 0;


			li {

				padding: 5px 5px 5px 35px;
				border-bottom: 1px solid #203046;



				&:after {
					content: '';
					background-image: url(../images/diamond.png);
					background-repeat: no-repeat;
					background-size: 100%;
					font-family: 'Cinzel', serif;
					display: block;
					position: absolute;
					top: 13px;
					left: 5px;
					height: 17px;
					width: 10px;
					overflow: hidden;
				}


				a {
					color: #FFF;
					font-size: 17px;
					display: block;
					padding: 5px 0;
					
					&:hover {
						color: #a4926d;
						text-decoration: none;
					}

				}


				&:last-of-type {

					&:after {
						display: none;
					}

					border: 0;
					text-align: center;
				    padding: 0;
				    margin-top: 30px;

					a {
						// background: #a4926d;
					 //    color: #a4926d;

						background: #FFF;
						color: #364b68;

					    display: inline-block;
					    border-radius: 5px !important;
					    padding: 5px 10px;

					}

				}


			}

		}

	}


	.sidebar-finish {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 20px;

		img {
			max-width: 30px;
			width: 100%;
		}
	}
}